
body { 
         background-image: url(C:\Users\ChandraShekar\Downloads\greg-rosenke-6QnEf_b47eA-unsplash.jpg);
    background-color: #674ea0;
      margin: 0px;
      text-align: center;
      
  }
  
  
  .Class1 {
    background-color: #674ea0;
    padding-top: 20px;
    display: inline-block;
    width: 100%;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    line-height:2;
  }
  
  .cs {
    font-size: 3rem;
    margin: 0 auto 0 auto;
    color:rgb(255, 255, 255);
  }
  
  input{
    border-radius: 10rem;
    font-size: 3rem;
  }
  
  button:hover {
    background-color: black;
  }
  
  
  button{
    color:red;
    background-color: white;
    border-radius:10rem;
    font-size: 1.3rem;
  }
  
  hr {
    border-color: #16213E;
    border-width: medium;
    border-style: dotted;
    border-width: medium;
  
  }
  
  label{
    font-size: 1.4rem;
  }
  
  .paragraph-styling {
      margin: 0;
      cursor: pointer;
      font-size:10px;
  }
  
  .list{
    margin: 0;
    width: 5px;
    cursor: pointer;
    font-size:10px;
  }
  
  #TODOC{
    position: relative;
    padding-top: px;
    margin-top: 0px;
    margin-left: 370px;
    margin-right: 400px;
    border-style: solid;
    background-color:  #EAF6F6;
  }
  
  p{
    position: relative;
    text-align:left;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    cursor:pointer;
  }
  